@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0B2434; 
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  max-width: 600px;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F5F5F5;
  padding: 2rem;
  border-radius: 6px;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main > h4 {
  margin-top: 1rem;
}

.die {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  justify-items: center;
}

.die > button {
  font-size: 2rem;
  font-weight: 700;
  height: 4.3rem;
  width: 4.3rem;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
}

.rollBtn {
  cursor: pointer;
  height: 60px;
  width: 120px;
  border-radius: 6px;
  border: none;
  background-color: #5035FF;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.press {
  background-color: #59E391 !important;
}

.title {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

.instructions {
  font-weight: 400;
  margin: 1.5rem 1rem 0;
  text-align: center;
  font-size: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Responsive Tweaks */
@media screen and (max-width: 480px) {
  .die > button {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
  }

  .rollBtn {
    width: 100px;
    height: 50px;
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .instructions {
    font-size: 0.9rem;
    margin: 1rem;
  }
}
